@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar-logo{
    margin: 1rem;
    display: flex;
    align-items: start;
    justify-content: end;
}

a{
    text-decoration: none;
}

.nav-link{
    margin-left: 1rem;
    color: hsl(219, 9%, 45%);
}


main{
    display: flex;
    justify-content: center;
    width: 100%;
}
.left{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 500px;
    font-family: 'Kumbh Sans', sans-serif;
    font-weight: 800;
}

.right{
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    width: 30%;
    height: 500px;
    font-size: 14px;
}

.title{
    margin: 1rem;
    color: var(--Pale);
    font-weight: 800;
}

.main-p{
    font-weight: bold;
    color:  hsl(220, 13%, 13%);
    margin: 1rem;
    font-family: 'Kumbh Sans', sans-serif;
}

.card-right{
    color: hsl(219, 9%, 45%);
    text-transform: uppercase;
    margin: 1rem;
}
.left-main img{
    width: 100%;
    object-fit: cover;
    border-top-left-radius: 0,5rem;
    border-bottom-left-radius: 0,5rem;
    border-bottom-right-radius: 0,5rem;
    border-top-right-radius: 0,5rem;
 }
.left-main{
    width: 60%;
    display: flex;
    justify-content: center;
    border-top-left-radius: 0,5rem;
    border-bottom-left-radius: 0,5rem;
    border-bottom-right-radius: 0,5rem;
    border-top-right-radius: 0,5rem;
}

.lefl-second{
    display: flex;
    justify-content: center;
    width: 80px;
    height: 80px;
    border-top-left-radius: 0,5rem;
    border-bottom-left-radius: 0,5rem;
    border-bottom-right-radius: 0,5rem;
    border-top-right-radius: 0,5rem;
     }
.lefl-second img{
    width: 100%;
    object-fit: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top-left-radius: 0,5rem;
    border-bottom-left-radius: 0,5rem;
    border-bottom-right-radius: 0,5rem;
    border-top-right-radius: 0,5rem;
    margin-left: 1rem;
}

.bloc{
    display: flex;
    align-items: center;
    margin: 1rem;
    cursor: pointer;
    font-weight: bold;
}

.bloc-left{
    margin: 1rem;
    color: hsl(26, 100%, 55%);
}

.bloc-star{
    margin: 1rem;
    color: hsl(220, 13%, 13%);
    font-weight: bolder;
}

.box{
    display: flex;
    align-items: center;
    color: white;
    cursor: pointer;
    background-color: hsl(26, 100%, 55%);
    border: none;
    justify-content: center;
}

.bloc-right{
    margin: 1rem;
    color:  hsl(26, 100%, 55%);
}

.button-bloc{
    margin: 1rem;
    background-color: aliceblue;
}

.price{
    display: flex;
    align-items: center;
}

.price2{
    margin: 1rem;
    text-decoration: line-through;
    color:  hsl(220, 14%, 75%);
    font-weight: bold;
    font-family: 'Kumbh Sans', sans-serif;
}

.produit{
    margin: 1rem;
    font-weight: bolder;
    color:  hsl(220, 13%, 13%);
    font-family: 'Kumbh Sans', sans-serif;
}

.percent{
    margin: 1rem;
    background-color:  orange hsl(25, 100%, 94%);
    color: hsl(26, 100%, 55%);
}

.navbar-items{
    margin-left: 4rem;
}
.avatar-image{
    width: 50px;
    height: 50px;
    margin-left: 1rem;
}

.avatar-image img{
    width: 100%;
}

.nav-second{
    width: 30%;
    justify-content: center;
    align-items: center;
    display: flex;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2rem;
    padding: 1rem;
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    border-top-right-radius: 1rem;
}

.navbar{
    width: 70%;
    display: flex;
    align-items: start; 
    display: flex;
    align-items: center;
}